[Unit]
Description=OpenVPN create tun devices as root
After=network.target
{% if ansible_os_family == "Debian" %}
PartOf=openvpn.service
{% endif %}
Documentation=man:openvpn(8)

[Service]
Type=oneshot
{% for instance in openvpn_instances %}
ExecStart=/usr/sbin/openvpn --rmtun --dev tun-{{ instance.proto }}-{{ instance.port }}
{% endfor %}
{% for instance in openvpn_instances %}
ExecStart=/usr/sbin/openvpn --mktun --dev tun-{{ instance.proto }}-{{ instance.port }} --dev-type tun --user openvpn --group openvpn
{% endfor %}

[Install]
WantedBy=multi-user.target
